[build-system]
requires = ["setuptools>=42", "wheel", "Cython>=0.29", "numpy >= 1.15", "scipy >= 1.5.0",  "setuptools_scm[toml]>=3.4"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]

[tool.pytest.ini_options]
minversion = "6.0"
testpaths = ["test"]
